#################################################
###  General  ###################################
#################################################

.DS_Store
.env
config/opendkim/

#################################################
###  IDEs  ######################################
#################################################

.idea
.vscode

config.bak
testconfig.bak

docs/site
